<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}oso-social{% endblock %}</title>
    </head>
    <body>
        {% if user.is_authenticated %}
        <p>Welcome <em>@{{ user.username }}.</em></p>
        <a href={% url 'logout' %}>Logout</a>
        {% endif %}
        <a href={% url 'login' %}>Login</a>
        <a href={% url 'index' %}>Feed</a>
        <a href={% url 'me' %}>Profile</a>
        <a href={% url 'list_roles' %}>Roles</a>
        {% block contents %}
        {% endblock %}
    </body>
</html>
