{% extends 'social/base.html' %} {% block contents %}


<h1>Roles</h1>
{% for role in roles %}
<div>
<p>
    <h2>{{ role.name }} </h2>
    <h3>Members</h3>
        <ul>
            {% for member in role.users.all %}
            <li>{{member.username}}</li>
            {% endfor %}
        </ul>

    <h3>Permissions</h3>
        <ul>
            {% for permission in role.permissions.all %}
            <li>
            {{ permission.get_action_display }} on {{ permission.get_resource_display }}
                <form action="{% url 'delete_permission' role_id=role.id %} " method="post">
                    <input type="hidden" name="role_id" value={{role.id}} />
                    <input type="hidden" name="permission_id" value={{permission.id}} />
                    <input type="submit" value="Delete Permission" />
                    {% csrf_token %}
                </form>
            </li>
            {% endfor %}
        </ul>
    <a href="{% url 'new_permission' role_id=role.id %}">Add Permission</a>
    <form action="{% url 'delete_role' %} " method="post">
        <input type="hidden" name="role_id" value={{role.id}} />
        <input type="submit" value="Delete Role" />
        {% csrf_token %}
    </form>
</p>
</div>
{% endfor %}

<a href="{% url 'new_role' %}">New Role</a>

{% endblock %}
